.shimmer-card {
    width: 100%;
    max-width: 300px;
    height: 300px;
    background: #f0f0f0; /* Background color of the card */
    border-radius: 7px;
    margin: 16px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  
  .shimmer-image {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (adjust as needed) */
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
  
  .shimmer-text {
    height: 12px;
    margin: 8px 0;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  

  #card{
    display: flex;
    flex-wrap: wrap;
  }